<!-- <div >
    <mat-form-field>
      <input matInput placeholder="First Name" >
    </mat-form-field>
    <br>
    <br>
        <mat-form-field>
          <input matInput placeholder="Middle Name" >
        </mat-form-field>
        <br>
        <br>
        <div >
            <mat-form-field>
              <input matInput placeholder="Last Name" >
            </mat-form-field>
     <br>
     <br>
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <my-tel-input placeholder="Phone number" required></my-tel-input>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>
      <br>
      <br>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <br>
        <br>
        <p>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address">Address</textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address 2"></textarea>
            </mat-form-field>
          </p>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="City">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="State">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field></td>
          </tr></table>        
      </div> -->

      <form class="example-form">
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="First name">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name ">
          </mat-form-field></td>
        </tr></table>
      
        <p>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address">Address</textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address 2"></textarea>
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="City">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="State">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput #postalCode maxlength="5" value="pin">



            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
      </form>
